body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

h2 {
  font-weight: 400;
  font-size: 16px;
}

.container {
  text-align: center;
  margin: auto;
  width: 800px;
  height: 700px;
  border: 1px solid steelblue;
}

.graph-container {
  border: 1px #e1e4e8 solid;
  width: 725px;
  height: 138px;
  padding: 8px;
}

.calendar {
  /*border: 1px solid aliceblue;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10;
  /*font-family: Helvetica;*/

}
